#flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

section {
    flex-grow: 1;
    margin: auto;
    min-width: 90vw;
    display: flex;
    flex-direction: column;
}